<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campgrounds">Campgrounds</a>
                </li>
                <li class="nav-item">
                    <a href="/campgrounds/new" class="nav-link">New Camground</a>
                </li>
        </div>
    </div>
</nav>