<%layout('layout/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form">
            <div class="my-3">
                <input class='form-control' type="text" id='title' name='campground[title]' placeholder="Campground Title" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <input class='form-control' type="text" name="campground[city]" id="city" placeholder="City" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <input class='form-control' type="text" name="campground[state]" id="state" placeholder="State" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <input class='form-control' type="text" name="campground[image]" id="image" placeholder="Image URL" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="price-sign">$</span>
                <input type="text" class="form-control" id="price" name="campground[price]" placeholder="price"
                    aria-describedat="price-sign" required>
                <div class="valid-feedback">
                    Looks good!
                </div>

            </div>
            <div class="input-group">
                <textarea name="campground[description]" id="description" class="form-control" type='text' placeholder="Description"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mt-4 mb-5">
                <button class='btn btn-success' type="submit"> Add Campground </button>
                <a href="/campgrounds" class="btn btn-danger">Cancel and Quit</a>
            </div>
        </form>
    </div>
</div>